.sidebar_div{
    width: 200px;
    height: 100vh;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    position: fixed;
    margin-top:60px;
    z-index: 1;
}
.close_icon {
    margin-left: 40px;
    display: flex;
    justify-content: space-between;
    color: var( --white-color);
    width: 70%;

}

.sidebar_div ul {
    list-style: none;
    padding: 5px;
    color: var( --white-color);
}

.sidebar_div ul li {
    padding: 10px;   
}

.icon {
    width:15px;
    margin-right: 5px;
}
.link_side {
    color: var( --white-color);
    text-decoration: none;

}
.sidebar_div ul li:hover {
    background-color:var(--secondary-color);
    color: var( --white-color);
    cursor: pointer;
    border-radius: 5px;
}