.sidebar_div{
    width: 200px;
    height: 100vh;
    background-color: #5BA3F0;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    top:0;
}
.close_icon {
    margin-left: 40px;
    display: flex;
    justify-content: space-between;
    color: white;
    width: 70%;
}

.sidebar_div ul {
    list-style: none;
    padding: 5px;
    color: white;
}

.sidebar_div ul li {
    padding: 10px;   
}
.icon {
    width:15px;
    margin-right: 5px;
}
.sidebar_div ul li:hover {
    background-color: #0364ed;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}