.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--primary-color);

}

.right_side {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.left_side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    
}
.login_div{
    width: 425px;
    padding: 80px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: var(--background-color);

}
.login_div h2{
    color: black;
    margin-bottom: 15px;
}
.linkContainer {
    display: flex;
    align-self: flex-end;
    margin-top: 10px;
  } 
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 100%;
}
.input {
    margin-top: 10px;
    padding: 10px;
    width: 400px;
}
.button {
    margin-top: 10px;
    padding: 10px;
    width: 425px;
    background-color:var(--secondary-color);
    color: var( --white-color);
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

@media  (min-width : 300px ) and (max-width: 768px) {
    .container {
        display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
    }
    .right_side {
       display: none;
    }
    .left_side {
        width: 80%;
    }
    .login_div {
        width: 100%;
        padding: 10px;
    }
    .login_div h2 {
        font-size: 18px;
    }
    .form {
        width: 100%;
    }
    .input {
        width: 80%;
        padding: 10px;
    }
    .button {
        width: 80px;
    }
    
}