.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    height: 60px;
    background-color: var(--background-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    border-bottom: 1px solid var(--primary-color);
}
.logo_div{
    display: flex;
    margin-left:50px;
    width: 500px;
}

.logoTitle {
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Playfair Display SC 700';
    font-style: italic;
    color: var( --white-color);
}
.logo {
    margin-top: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.nav h3 {
    color: var( --white-color);
    margin-left: 2.5rem;
}
.nav ul {
    display: flex;
    list-style: none;
    color:var( --white-color);

}
.nav ul li {
    margin-right: 1rem;
    font-size: 20px;
    font-family: 'Playfair Display SC 700';
    font-style: italic;
}
.icon {
    margin-top: 2px;
} 
.sidebar_icon{
    margin-left:20px
}