.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    height: 60px;
    background-color: var(--primary-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav h3 {
    color: var( --white-color);
    margin-left: 2.3rem;
}
.nav ul {
    display: flex;
    list-style: none;
    color:var( --white-color);

}
.nav ul li {
    margin-right: 1rem;
}
.icon {
    margin-top: 2px;
} 
.sidebar_icon{
    
}